

.logo {
  display: inline-block;
  float: left;
  
  width: 48%;
  height:110px;
}



.show-grid {
	position: relative;
	margin-left: 50px;
	margin-top: 20px;
	height: 110px;
}

.col {
	margin-left: 30px;
}

.item {
	margin-left: 40px;

}

.weblink {
	position: relative;
	display: inline-block;
	height: 110px;
	float: left;
	margin-left: 30px;
}



.weblink > h3 {
	display: inline-block;
	position: relative;
	
}

.weblink > a {
	position: relative;
	display: inline-block;
	
}

span {
	float: left;
}

