

.chatpage {
    width: 60%;
    height:100%;
    float:center;
    position: relative;
    margin-left:25%;
}

.wrapper {
    width: 70%;
    height: 100%;
    padding: 5px;
    margin: 0 auto;
    background-color: #e0f2f0;
}

.nameForm {
    margin-bottom: 10px;
    float: center;
}

.nameForm .btn {
    margin-left:5px;
}

.banner {
    height: 80px;
    width: 100%;
    background-color: #e0f2f0;
    border:2px;
    margin-bottom: 10px;
}

.messegewindow {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}

.messege {
    float: left;
    height: 10px;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.messegehistory {
    float: left;
}

.controls {
    height: 100px;
    margin: 5px 0px;
    position: relative;
}

.messegebox {
    width: 80%;
    height: 90px;
    float:left;
    margin-top: 10px;
}


.controls .btn {
    height: 90px;
    margin-top: 10px;
    margin-left:10px;
}
