html, body {
    margin: 0;
    font-family: sans-serif;
}
.wrapper {
    width: 500px;
    height: 640px;
    padding: 5px;
    margin: 0 auto;
    background-color: #e0f2f0;
}

.nameForm {
    margin-bottom: 10px;
    float: center;
}

.banner {
    height: 80px;
    width: 100%;
    background-color: #e0f2f0;
    border:2px;
    margin-bottom: 10px;
}

.messegewindow {
    height: 400px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}

.messege {
    float: left;
    height: 10px;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.messegehistory {
    float: left;
}

.messegebox {
    width: 80%;
    height: 90px;
    float:left;
    margin-top: 10px;
}

.controls {
    height: 100px;
    margin: 5px 0px;
    position: relative;
}


.sendBtn {
    float: right;
    width: 20%px;
    height: 90px;
    position: relative;
    margin-top: 10px;
}
